<!-- Summary Dashboard Template -->
<div class="mdc-layout-grid app-layout-grid">
  <div class="drawer-main-content">
    <div class="mdc-top-app-bar--fixed-adjust">

      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell--span-12">
          <section class="main-content__header">
            <h3>YouScience Analytics Home</h3>
          </section>
        </div>

        <!--  Large Graph Card -->
        <div class="mdc-layout-grid__cell--span-6">
          <div class="mdc-card mdc-elevation--z4 grid-card grid-card--large">
            <section class="grid-card__content">
              <div class="grid-card__header">Average user heart rate</div>
              <div class="grid-card__graph">
                <div class="resp-container--large">
                  <iframe src="https://giphy.com/embed/lPAlSKrR8L636" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                </div>
              </div>
            </section>
            <div class="grid-card__divider"></div>
            <div class="grid-card__footer">
              <button class="mdc-button mdc-card__action mdc-card__action--button grid-card__button">
                <span class="mdc-button__label grid-card__label"><a href="/">Overview</a></span>
                <i class="material-icons grid-card__link-icon" aria-hidden="true">keyboard_arrow_right</i>
              </button>
            </div>
          </div> <!-- End of mdc card -->
        </div> <!-- End of layout grid - cell -->
        <!-- End graph card -->

        <!-- Medium Graph Card -->
        <div class="mdc-layout-grid__cell--span-3">
          <div class="mdc-card mdc-elevation--z4 grid-card grid-card--medium">
            <section class="grid-card__content">
              <div class="grid-card__header">Summer lull of users</div>
              <div class="grid-card__graph">
                <div class="resp-container--medium">
                  <iframe src="https://giphy.com/embed/l2JdTgYZ7VG4EeBVe" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                </div>
              </div>
            </section>
            <div class="grid-card__divider"></div>
            <div class="grid-card__footer">
              <button class="mdc-button mdc-card__action mdc-card__action--button grid-card__button">
                <span class="mdc-button__label grid-card__label"><a href="/">Overview</a></span>
                <i class="material-icons grid-card__link-icon" aria-hidden="true">keyboard_arrow_right</i>
              </button>
            </div>
          </div> <!-- End of mdc card -->
        </div> <!-- End of layout grid - cell -->
        <!-- End graph card -->

        <!-- Medium Graph Card -->
        <div class="mdc-layout-grid__cell--span-3">
          <div class="mdc-card mdc-elevation--z4 grid-card grid-card--medium">
            <section class="grid-card__content">
              <div class="grid-card__header">User beer consumption</div>
              <div class="grid-card__graph">
                <div class="resp-container--medium">
                  <iframe src="https://giphy.com/embed/l3Uct2K9N3CqxeCoU" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                </div>
              </div>
            </section>
            <div class="grid-card__divider"></div>
            <div class="grid-card__footer">
              <button class="mdc-button mdc-card__action mdc-card__action--button grid-card__button">
                <span class="mdc-button__label grid-card__label"><a href="/">Overview</a></span>
                <i class="material-icons grid-card__link-icon" aria-hidden="true">keyboard_arrow_right</i>
              </button>
            </div>
          </div> <!-- End of mdc card -->
        </div> <!-- End of layout grid - cell -->
        <!-- End graph card -->

        <!-- Small Graph Card -->
        <div class="mdc-layout-grid__cell--span-3">
          <div class="mdc-card mdc-elevation--z4 grid-card grid-card--small">
            <section class="grid-card__content">
              <div class="grid-card__header">Small graph card</div>
              <div class="grid-card__graph" style="height: 100%">
              </div>
            </section>
            <div class="grid-card__divider"></div>
            <div class="grid-card__footer">
              <button class="mdc-button mdc-card__action mdc-card__action--button grid-card__button">
                <span class="mdc-button__label grid-card__label"><a href="/">Overview</a></span>
                <i class="material-icons grid-card__link-icon" aria-hidden="true">keyboard_arrow_right</i>
              </button>
            </div>
          </div> <!-- End of mdc card -->
        </div> <!-- End of layout grid - cell -->
        <!-- End graph card -->

        <!-- Small Graph Card -->
        <div class="mdc-layout-grid__cell--span-3">
          <div class="mdc-card mdc-elevation--z4 grid-card grid-card--small">
            <section class="grid-card__content">
              <div class="grid-card__header">Small graph card</div>
              <div class="grid-card__graph" style="height: 100%">
              </div>
            </section>
            <div class="grid-card__divider"></div>
            <div class="grid-card__footer">
              <button class="mdc-button mdc-card__action mdc-card__action--button grid-card__button">
                <span class="mdc-button__label grid-card__label"><a href="/">Overview</a></span>
                <i class="material-icons grid-card__link-icon" aria-hidden="true">keyboard_arrow_right</i>
              </button>
            </div>
          </div> <!-- End of mdc card -->
        </div> <!-- End of layout grid - cell -->
        <!-- End graph card -->

        <!-- Small Graph Card -->
        <div class="mdc-layout-grid__cell--span-3">
          <div class="mdc-card mdc-elevation--z4 grid-card grid-card--small">
            <section class="grid-card__content">
              <div class="grid-card__header">Small graph card</div>
              <div class="grid-card__graph" style="height: 100%">
              </div>
            </section>
            <div class="grid-card__divider"></div>
            <div class="grid-card__footer">
              <button class="mdc-button mdc-card__action mdc-card__action--button grid-card__button">
                <span class="mdc-button__label grid-card__label"><a href="/">Overview</a></span>
                <i class="material-icons grid-card__link-icon" aria-hidden="true">keyboard_arrow_right</i>
              </button>
            </div>
          </div> <!-- End of mdc card -->
        </div> <!-- End of layout grid - cell -->
        <!-- End graph card -->

        <!-- Search/Filter Card -->
        <div class="mdc-layout-grid__cell--span-3">
          <div class="mdc-card mdc-elevation--z4 grid-card grid-card--small">
            <section class="grid-card__content">
              <div class="mdc-text-field grid-card-search__text-field mdc-text-field--outlined mdc-text-field--with-leading-icon">
                <i class="material-icons mdc-text-field__icon grid-card-search__icon">search</i>
                <input class="mdc-text-field__input grid-card-search__input">
                <div class="mdc-notched-outline">
                  <div class="mdc-notched-outline__leading"></div>
                  <div class="mdc-notched-outline__notch">
                    <label class="mdc-floating-label grid-card-search__label">Search</label>
                  </div>
                  <div class="mdc-notched-outline__trailing"></div>
                </div>
              </div>
            </section>
            <div class="grid-card__divider"></div>
            <div class="grid-card__footer">
              <button class="mdc-button mdc-card__action mdc-card__action--button grid-card__button">
                <span class="mdc-button__label grid-card__label"><a href="/">Past Searches</a></span>
                <i class="material-icons grid-card__link-icon" aria-hidden="true">keyboard_arrow_right</i>
              </button>
            </div>
          </div> <!-- End of mdc card -->
        </div> <!-- End of layout grid - cell -->
        <!-- End search/filter card -->

        <!-- Datatable Card -->
        <div class="mdc-layout-grid__cell--span-8" style="margin-bottom:12px;">
          <div class="mdc-card mdc-elevation--z4 grid-data-card">

            <section class="grid-data-card__content">
              <div class="grid-data-card__title-content">
                <i class="material-icons grid-data-card__title-icon md-48">bar_chart</i>
                <span class="grid-data-card__titles">
                  <h3 class="grid-data-card__title-text">Datatable Primary Title</h3>
                  <p class="grid-data-card__secondary-text">Datatable Secondary Title</p>
                </span>
              </div>
              
              <div class="mdc-layout-grid__inner grid-data-card__header"> 

                <!-- Datatable Search -->
                <div class="mdc-layout-grid__cell--span-4"> 
                  <div class="mdc-text-field grid-data-card-search__text-field mdc-text-field--outlined mdc-text-field--with-leading-icon">
                    <i class="material-icons mdc-text-field__icon grid-data-card-search__icon">search</i>
                    <input class="mdc-text-field__input grid-data-card-search__input">
                    <div class="mdc-notched-outline">
                      <div class="mdc-notched-outline__leading"></div>
                      <div class="mdc-notched-outline__notch">
                        <label class="mdc-floating-label grid-data-card-search__label">Search</label>
                      </div>
                      <div class="mdc-notched-outline__trailing"></div>
                    </div>
                  </div>
                </div> <!-- End of layout grid - cell -->
                <!-- End datatable search -->

                <!-- Datatable Pagination -->
                <div class="mdc-layout-grid__cell--span-8">
                  <div class="mdc-layout-grid__inner grid-data-card__row-selection">

                    <div class="mdc-layout-grid__cell--span-3"></div>
                    <div class="mdc-layout-grid__cell--span-3">
                        <div class="mdc-select mdc-select--outlined grid-data-card__header-select header-select__width">
                          <input type="hidden" name="enhanced-select">
                          <i class="mdc-select__dropdown-icon"></i>
                          <div class="mdc-select__selected-text"></div>
                          <div class="mdc-select__menu mdc-menu grid-data-card__header-menu mdc-menu-surface header-select__width">
                            <ul class="mdc-list">
                              <li class="mdc-list-item mdc-list-item--selected" data-value="10" aria-selected="true">10</li>
                              <li class="mdc-list-item" data-value="25">25</li>
                              <li class="mdc-list-item" data-value="50">50</li>
                              <li class="mdc-list-item" data-value="100">100</li>
                              <li class="mdc-list-item" data-value="250">250</li>
                              <li class="mdc-list-item" data-value="500">500</li>
                            </ul>
                          </div>
                          <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                              <label class="mdc-floating-label">Rows per page:</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                          </div>
                        </div>
                    </div>
                    <div class="mdc-layout-grid__cell--span-4">
                      <div class="grid-data-card__header-label">1-10 of 100</div>
                    </div>
                    <div class="mdc-layout-grid__cell--span-2 grid-data-card__link-icons">
                      <button class="mdc-icon-button material-icons grid-data-card__link-icon md-24">keyboard_arrow_left</button>
                      <button class="mdc-icon-button material-icons grid-data-card__link-icon md-24">keyboard_arrow_right</button>
                    </div>
                  </div>
                </div>
                <!-- End datatable pagination -->

              </div> <!-- End of layout grid - inner -->

              <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell--span-12">

                  <table class="data-table">
                    <thead class="data-table__header">
                      <tr class="data-table__row">
                        <th class="data-table__cell data-table__cell--header">
                          <!-- First Sort Icon Option -->
                          <button class="mdc-icon-button material-icons grid-data-card__sort-icon md-24">unfold_more</button>
                          <!-- Second Sort Icon Option -->
                          <%# <div class="grid-data-card__sort-icons"> %>
                            <%# <button class="mdc-icon-button material-icons grid-data-card__sort-icon md-24">arrow_drop_down</button> %>
                            <%# <button class="mdc-icon-button material-icons grid-data-card__sort-icon md-24">arrow_drop_up</button> %>
                          <%# </div> %>
                          <span>Dessert (100g serving)</span>
                        </th>
                        <th class="data-table__cell data-table__cell--header">
                          <!-- First Sort Icon Option -->
                          <button class="mdc-icon-button material-icons grid-data-card__sort-icon md-24">unfold_more</button>
                          <!-- Second Sort Icon Option -->
                          <%# <div class="grid-data-card__sort-icons"> %>
                            <%# <button class="mdc-icon-button material-icons grid-data-card__sort-icon md-24">arrow_drop_down</button> %>
                            <%# <button class="mdc-icon-button material-icons grid-data-card__sort-icon md-24">arrow_drop_up</button> %>
                          <%# </div> %>
                          Calories</th>
                        <th class="data-table__cell data-table__cell--header">
                          <!-- First Sort Icon Option -->
                          <button class="mdc-icon-button material-icons grid-data-card__sort-icon md-24">unfold_more</button>
                          <!-- Second Sort Icon Option -->
                          <%# <div class="grid-data-card__sort-icons"> %>
                            <%# <button class="mdc-icon-button material-icons grid-data-card__sort-icon md-24">arrow_drop_down</button> %>
                            <%# <button class="mdc-icon-button material-icons grid-data-card__sort-icon md-24">arrow_drop_up</button> %>
                          <%# </div> %>
                          Fat (g)</th>
                        <th class="data-table__cell data-table__cell--header">
                          <!-- First Sort Icon Option -->
                          <button class="mdc-icon-button material-icons grid-data-card__sort-icon md-24">unfold_more</button>
                          <!-- Second Sort Icon Option -->
                          <%# <div class="grid-data-card__sort-icons"> %>
                            <%# <button class="mdc-icon-button material-icons grid-data-card__sort-icon md-24">arrow_drop_down</button> %>
                            <%# <button class="mdc-icon-button material-icons grid-data-card__sort-icon md-24">arrow_drop_up</button> %>
                          <%# </div> %>
                          Carbs (g)</th>
                        <th class="data-table__cell data-table__cell--header">
                          <!-- First Sort Icon Option -->
                          <button class="mdc-icon-button material-icons grid-data-card__sort-icon md-24">unfold_more</button>
                          <!-- Second Sort Icon Option -->
                          <%# <div class="grid-data-card__sort-icons"> %>
                            <%# <button class="mdc-icon-button material-icons grid-data-card__sort-icon md-24">arrow_drop_down</button> %>
                            <%# <button class="mdc-icon-button material-icons grid-data-card__sort-icon md-24">arrow_drop_up</button> %>
                          <%# </div> %>
                          Protein (g)</th>
                        <th class="data-table__cell data-table__cell--header"></th>
                      </tr>
                    </thead>
                    <tbody class="data-table__tbody">
                      <tr class="data-table__row">
                        <td class="data-table__cell" data-label="Dessert (100g serving)">Frozen yogurt</td>
                        <td class="data-table__cell" data-label="Calories">159</td>
                        <td class="data-table__cell" data-label="Fat (g)">6.0</td>
                        <td class="data-table__cell" data-label="Carbs (g)">24</td>
                        <td class="data-table__cell" data-label="Protein (g)">4.0</td>
                        <td class="data-table__cell grid-data-card__icon-group">
                          <button class="mdc-icon-button material-icons grid-data-card__icon md-18">visibility</button>
                          <button class="mdc-icon-button material-icons grid-data-card__icon md-18">edit</button>
                          <button class="mdc-icon-button material-icons grid-data-card__icon md-18">delete</button>
                        </td>
                      </tr>
                      <tr class="data-table__row">
                        <td class="data-table__cell" data-label="Dessert (100g serving)">Ice cream sandwich</td>
                        <td class="data-table__cell" data-label="Calories">237</td>
                        <td class="data-table__cell" data-label="Fat (g)">9.0</td>
                        <td class="data-table__cell" data-label="Carbs (g)">37</td>
                        <td class="data-table__cell" data-label="Protein (g)">4.3</td>
                        <td class="data-table__cell grid-data-card__icon-group">
                          <button class="mdc-icon-button material-icons grid-data-card__icon md-18">visibility</button>
                          <button class="mdc-icon-button material-icons grid-data-card__icon md-18">edit</button>
                          <button class="mdc-icon-button material-icons grid-data-card__icon md-18">delete</button>
                        </td>
                      </tr>
                      <tr class="data-table__row">
                        <td class="data-table__cell" data-label="Dessert (100g serving)">Eclair</td>
                        <td class="data-table__cell" data-label="Calories">262</td>
                        <td class="data-table__cell" data-label="Fat (g)">16.0</td>
                        <td class="data-table__cell" data-label="Carbs (g)">24</td>
                        <td class="data-table__cell" data-label="Protein (g)">6.0</td>
                        <td class="data-table__cell grid-data-card__icon-group">
                          <button class="mdc-icon-button material-icons grid-data-card__icon md-18">visibility</button>
                          <button class="mdc-icon-button material-icons grid-data-card__icon md-18">edit</button>
                          <button class="mdc-icon-button material-icons grid-data-card__icon md-18">delete</button>
                        </td>
                      </tr>
                      <tr class="data-table__row">
                        <td class="data-table__cell" data-label="Dessert (100g serving)">Cupcake</td>
                        <td class="data-table__cell" data-label="Calories">305</td>
                        <td class="data-table__cell" data-label="Fat (g)">3.7</td>
                        <td class="data-table__cell" data-label="Carbs (g)">67</td>
                        <td class="data-table__cell" data-label="Protein (g)">3.9</td>
                        <td class="data-table__cell grid-data-card__icon-group">
                          <button class="mdc-icon-button material-icons grid-data-card__icon md-18">visibility</button>
                          <button class="mdc-icon-button material-icons grid-data-card__icon md-18">edit</button>
                          <button class="mdc-icon-button material-icons grid-data-card__icon md-18">delete</button>
                        </td>
                      </tr>
                      <tr class="data-table__row">
                        <td class="data-table__cell" data-label="Dessert (100g serving)">Gingerbread</td>
                        <td class="data-table__cell" data-label="Calories">356</td>
                        <td class="data-table__cell" data-label="Fat (g)">16.0</td>
                        <td class="data-table__cell" data-label="Carbs (g)">49</td>
                        <td class="data-table__cell" data-label="Protein (g)">0.0</td>
                        <td class="data-table__cell grid-data-card__icon-group">
                          <button class="mdc-icon-button material-icons grid-data-card__icon md-18">visibility</button>
                          <button class="mdc-icon-button material-icons grid-data-card__icon md-18">edit</button>
                          <button class="mdc-icon-button material-icons grid-data-card__icon md-18">delete</button>
                        </td>
                      </tr>
                      <tr class="data-table__row">
                        <td class="data-table__cell" data-label="Dessert (100g serving)">Jelly bean</td>
                        <td class="data-table__cell" data-label="Calories">375</td>
                        <td class="data-table__cell" data-label="Fat (g)">0.0</td>
                        <td class="data-table__cell" data-label="Carbs (g)">94</td>
                        <td class="data-table__cell" data-label="Protein (g)">0.0</td>
                        <td class="data-table__cell grid-data-card__icon-group">
                          <button class="mdc-icon-button material-icons grid-data-card__icon md-18">visibility</button>
                          <button class="mdc-icon-button material-icons grid-data-card__icon md-18">edit</button>
                          <button class="mdc-icon-button material-icons grid-data-card__icon md-18">delete</button>
                        </td>
                      </tr>
                      <tr class="data-table__row">
                        <td class="data-table__cell" data-label="Dessert (100g serving)">Lollipop</td>
                        <td class="data-table__cell" data-label="Calories">392</td>
                        <td class="data-table__cell" data-label="Fat (g)">0.2</td>
                        <td class="data-table__cell" data-label="Carbs (g)">98</td>
                        <td class="data-table__cell" data-label="Protein (g)">6.5</td>
                        <td class="data-table__cell grid-data-card__icon-group">
                          <button class="mdc-icon-button material-icons grid-data-card__icon md-18">visibility</button>
                          <button class="mdc-icon-button material-icons grid-data-card__icon md-18">edit</button>
                          <button class="mdc-icon-button material-icons grid-data-card__icon md-18">delete</button>
                        </td>
                      </tr>
                      <tr class="data-table__row">
                        <td class="data-table__cell" data-label="Dessert (100g serving)">Honeycomb</td>
                        <td class="data-table__cell" data-label="Calories">408</td>
                        <td class="data-table__cell" data-label="Fat (g)">3.2</td>
                        <td class="data-table__cell" data-label="Carbs (g)">87</td>
                        <td class="data-table__cell" data-label="Protein (g)">4.9</td>
                        <td class="data-table__cell grid-data-card__icon-group">
                          <button class="mdc-icon-button material-icons grid-data-card__icon md-18">visibility</button>
                          <button class="mdc-icon-button material-icons grid-data-card__icon md-18">edit</button>
                          <button class="mdc-icon-button material-icons grid-data-card__icon md-18">delete</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                </div> <!-- End of layout grid - cell -->
              </div> <!-- End of layout grid - inner -->

            </section>

            <div class="grid-data-card__footer">
              <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell--span-4"></div>

                <!-- Datatable Pagination -->
                <div class="mdc-layout-grid__cell--span-8">
                  <div class="mdc-layout-grid__inner grid-data-card__row-selection">

                    <div class="mdc-layout-grid__cell--span-3"></div>
                    <div class="mdc-layout-grid__cell--span-3">
                        <div class="mdc-select mdc-select--outlined grid-data-card__footer-select footer-select__width">
                          <input type="hidden" name="enhanced-select">
                          <i class="mdc-select__dropdown-icon"></i>
                          <div class="mdc-select__selected-text"></div>
                          <div class="mdc-select__menu mdc-menu grid-data-card__footer-menu mdc-menu-surface footer-select__width">
                            <ul class="mdc-list">
                              <li class="mdc-list-item mdc-list-item--selected" data-value="10" aria-selected="true">10</li>
                              <li class="mdc-list-item" data-value="25">25</li>
                              <li class="mdc-list-item" data-value="50">50</li>
                              <li class="mdc-list-item" data-value="100">100</li>
                              <li class="mdc-list-item" data-value="250">250</li>
                              <li class="mdc-list-item" data-value="500">500</li>
                            </ul>
                          </div>
                          <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                              <label class="mdc-floating-label">Rows per page:</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                          </div>
                        </div>
                    </div>
                    <div class="mdc-layout-grid__cell--span-4">
                      <div class="grid-data-card__header-label">1-10 of 100</div>
                    </div>
                    <div class="mdc-layout-grid__cell--span-2 grid-data-card__link-icons">
                      <button class="mdc-icon-button material-icons grid-data-card__link-icon md-24">keyboard_arrow_left</button>
                      <button class="mdc-icon-button material-icons grid-data-card__link-icon md-24">keyboard_arrow_right</button>
                    </div>
                  </div>
                </div>
                <!-- End datatable pagination -->

              </div> <!-- End of layout grid - inner -->
            </div> <!-- End of footer -->

          </div> <!-- End of mdc card -->
        </div> <!-- End of layout grid - cell -->
        <!-- End datatable card -->

      </div> <!-- End of layout grid - inner -->

    </div> <!-- End of top app bar adjustment -->
  </div> <!-- End of main content -->
</div> <!-- End of layout grid -->