// Import global Material Theming variables
@import "./theme.scss";

// Import styles for each MDC Web component
@import "material-components-web/material-components-web";
@import "@material/card/mdc-card";
@import "@material/drawer/mdc-drawer";
@import "@material/elevation/mdc-elevation";
@import "@material/image-list/mdc-image-list";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/line-ripple/mdc-line-ripple";
@import "@material/list/mdc-list";
@import "@material/menu/mdc-menu";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/notched-outline/mdc-notched-outline";
@import "@material/select/mdc-select";
@import "@material/textfield/mdc-text-field";
@import "@material/textfield/icon/mdc-text-field-icon";
@import "@material/top-app-bar/mdc-top-app-bar";

// Material Icon Sizing

.material-icons.md-18 { 
  font-size: 18px; 
}

.material-icons.md-24 { 
  font-size: 24px; 
}

.material-icons.md-36 { 
  font-size: 36px; 
}

.material-icons.md-48 { 
  font-size: 48px; 
}

html {
  height: 100%;
  body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      margin: 0;
      padding: 0;
  }
}

// Top App Bar Logo
.drawer-top-app-bar {
  position: absolute;
  .youscience-logo-white {
      width: 75%;
      height: 35px;
      background-image: url("../images/youscience-logo-white.svg");
      background-size: contain;
      background-repeat: no-repeat;
  }
}

// Left Drawer 
.drawer-frame {
  display: flex;
  width: 255px;
  height: 100vh;
  margin-top: 64px;
  position: fixed;
  background-color: $mdc-theme-background;
  z-index: 3;
}
.mdc-drawer {
  height: 100vh;
  border-radius: 0 0 0 0;
  .mdc-drawer__content {
    height: 100%;
    overflow-y: auto;
    flex: auto;
    -webkit-overflow-scrolling: touch;
  }
}

// Grid
.drawer-frame-app-content {
  position: relative;
  .app-layout-grid {
    margin-left: 255px;
    height: 100vh;
  }
  .drawer-main-content {
    overflow: auto;
    height: 100%;
    padding: 0 18px;
    .main-content__header {
      display: block;
      height: 18px;
      margin: 0 0 8px 8px;
      color: $mdc-theme-on-background;
      font: 300 18px/14px;
      letter-spacing: 0;
      h3 {
        margin-top: 0px;
      }
    }
  }
}

// Grid Card
.grid-card {
  padding: 0px;
  min-width: 300px;
  .grid-card--medium,
  .grid-card--large {
    height: 400px;
  }
  .grid-card__content {
    padding: 24px 24px 0px;
    display: block;
    .grid-card__header {
      color: $mdc-theme-on-background;
      font: 400 14px;
    } 
    .grid-card__graph {
      margin: 12px 0px;
      height: 100%;
      .resp-container--medium {
        width: 100%;
        height: 0;
        padding-bottom: 109%;
        position: relative;
      }
      .resp-container--large {
        width: 100%;
        height: 0;
        padding-bottom: 48%;
        position: relative;
      }
    }
  }
  .grid-card__divider {
    display: block;
    border-top-width: 1px;
    border-top-style: solid;
    margin: 0;
    border-top-color: $theme-border;
    margin-bottom: auto;
  }
  .grid-card__footer {
    display: block;
    height: 40px;
    margin-top: auto;
    text-align: right;
    padding: 0px 10px;
    .grid-card__button {
      margin: 2px auto;
      padding: 5px auto;
      .grid-card__label {
        a:link {
          text-decoration: none;
          color: $mdc-theme-primary;
        }
        a:visited {
          text-decoration: none;
          color: $mdc-theme-primary;
        }
        a:hover {
          text-decoration: none;
          color: $mdc-theme-primary;
        }
        a:active {
          text-decoration: none;
          color: $mdc-theme-primary;
        }
      }
      .grid-card__link-icon {
        color: $mdc-theme-primary;
        margin-bottom: 2px;
        padding: 0px;
      }
    }      
  }
}

// Grid Card - Datatable
.grid-data-card {
  padding: 0px;
  .data-table {
    background-color: $mdc-theme-background;
    border-collapse: collapse;
    color: $theme-on-data-table;
    width: 100%;
    tr {
      border-bottom: 2px solid $theme-border;
    }
    th {
      padding: 12px;
      font-size: 0.9em;
      text-align: left;
    }
    th:first-child,
    td:first-child {
      padding: 12px 12px 12px 24px;
    }
    td {
      padding: 0px 24px;
      font-size: 0.9em;
      text-align: left;
    }
    tbody td {
      font-size: 1em;
    }
    td:not(:first-child) {
      text-align: right;
    }
    .data-table__tbody {
      tr:hover {
        background-color: #E4EBF9;
        // background-color: #F7F8F8;
      }
    }
  }
}

.grid-data-card__sort-icon {
  padding: 0px;
  height: 24px;
  width: 24px;
  vertical-align: middle;
}

.grid-data-card__title {
  padding: 24px 24px 12px 24px;
}

.grid-data-card__header,
.grid-data-card__footer {
  margin: 12px 0px; 
  padding: 0px 24px;
  .header-select__width,
  .footer-select__width {
    width: 150px;
  }
}

.grid-data-card__icon-group,
.grid-data-card__link-icons {
  text-align: center;
  .grid-data-card__icon,
  .grid-data-card__link-icon {
    padding: 0px;
    height: 24px;
    width: 24px;
  }
}

.grid-data-card__icon-group {
  text-align: center;
  .grid-data-card__icon {
    padding: 0px;
    height: 24px;
    width: 24px;
  }
}

.grid-data-card__row-selection {
  color: $theme-on-data-table;
}

// Search/filter

.grid-card-search__text-field {
  width: 100%;
  margin-bottom: 24px;
}

.grid-data-card-search__text-field {
  width: 100%;
  margin-bottom: 12px;
}

.grid-data-card__link-icons {
  margin: auto;
}

.grid-data-card__header-label,
.grid-data-card__footer-label {
  display: inline-block;
  padding: 16px 0px;
  text-align: right;
  width: 100%;
}

.grid-data-card__header-select,
.grid-data-card__footer-select {
  @include mdc-select-bottom-line-color(transparent);
  @include mdc-select-focused-bottom-line-color(transparent);
}

