/*  Typography */

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
$mdc-typography-font-family: unquote("Nunito Sans, sans-serif");

/* Shape */

$mdc-shape-small-component-radius: 8px;
$mdc-shape-medium-component-radius: 8px;
$mdc-shape-large-component-radius: 8px;

/* Color */

// Current YouScience Color Palette
// $mdc-theme-primary: #5d77ae;
// $mdc-theme-secondary: #ecf0f4;

$mdc-theme-primary: #0350c8;
$mdc-theme-secondary: #c8034f;

// Theme background ($mdc-theme-background) appears behind scrollable content. 
$mdc-theme-background: #ffffff;

// Surface color ($mdc-theme-surface) is mapped to the surface of components such as cards, sheets, and menus. 
$mdc-theme-surface: #ffffff;

// Error color ($mdc-theme-error) is used to indicate an error state for components such as text fields provided with inaccurate input.
$mdc-theme-error: #b00020;

// “On-” colors define how text, icons, and strokes are colored in relation to the surface on which they appear. If you are updating these manually, be sure to consider accessible color contrast for the value pairs.
$mdc-theme-on-primary: #ffffff;
$mdc-theme-on-secondary: #ffffff;
$mdc-theme-on-error: #ffffff;
$mdc-theme-on-background: #384047;
$mdc-theme-on-surface: #384047;

$theme-border: #ecf0f4;
$theme-on-data-table:  rgba(56, 64, 71, 0.87);